body {
  margin: 0px;
  font-family: tahoma, arial, verdana, sans-serif, "Lucida Sans";
  font-size: 11px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 42vw;
  width: 836px;
}

header {
  margin: 0 auto;
  width: 846px;
  height: 40px;
  background: #4d71a9;
  display: flex;
  border-radius: 0 0 7px 7px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px 0 2px;
  overflow: hidden;
}

header > p {
  cursor: pointer;
}

#logo {
  width: 125px;
  margin: 10px;
  height: 21px;
}

#switch:hover,
header > p:hover {
  background: #3b5c90;
}

#switch {
  font-weight: bold;
  color: rgb(232, 239, 247);
  text-shadow: rgb(65, 99, 137) 0 1px 0;
  padding: 12px 10px 15px;
}

#main-page {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  position: sticky;
  flex-shrink: 0;
  line-height: 180%;
}

.sign-group {
  padding-top: 6px;
}

.sidebar {
  position: relative;
  top: -20px;
}

.sidebar > p {
  margin: 8px;
  color: #4d71a9;
  font-weight: bold;
  cursor: pointer;
}

#page-content {
  margin: 0.8rem 1rem 0.5rem 0.8rem;
}

#page-content > p {
  line-height: 140%;
  color: #4d71a9;
  font-weight: bold;
  cursor: pointer;
}

h1,
.frst > p {
  margin: 0;
  font-size: 11px;
  color: #607387;
}

p {
  font-weight: normal;
}

header > p {
  font-weight: bold;
  color: rgb(232, 239, 247);
  text-shadow: rgb(65, 99, 137) 0 1px 0;
  padding: 12px 10px 15px;
}

h2 {
  color: #45668e;
  font-size: 1.18em;
}

#search {
  border-radius: 2px;
  border: none;
  padding: 3px 0 3px 7px;
}

.frst {
  margin: 0 0 0 118px;
  width: 704px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px 0 2px;
  overflow: hidden;
  background-color: #e9edf1;
  padding: 0 7px;
}

.pageandcontent {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.content {
  flex: 3;
  margin-bottom: 0.8rem;
}

.nameanduniver {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.first {
  display: inline-block;
  width: 200px;
  color: #777;
  padding-bottom: 5px;
}

.second {
  display: inline-block;
  width: 270px;
  margin: 0;
  color: #2b587a;
}

.post {
  display: flex;
}

.photo-line {
  background: #e9edf1;
  width: 485px;
  padding: 5px 0 5px 3px;
  color: #45668e;
  font-weight: bold;
}

.mini-photo {
  max-height: 50px;
  padding-top: 7px;
}

.name {
  padding-left: 10px;
  color: #45668e;
  font-weight: bold;
}

.name-text {
  display: flex;
  flex-direction: column;
}

.name-text > p {
  margin: 0;
  padding: 0 10px 10px 10px;
}

.avatarka {
  max-height: 200px;
}

.imgpost {
  max-width: 300px;
  padding-left: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  #main-page,
  header {
    flex-direction: column;
  }

  html,
  body {
    overflow-x: hidden;
  }

  header {
    width: 100vw;
    border-radius: 0;
  }

  .container {
    width: 100vw;
  }

  .sign-group {
    text-align: center;
  }

  .pageandcontent {
    display: block;
  }

  .content {
    margin: 0.8rem;
  }

  .sidebar {
    padding: 3vw;
  }

  .sidebar {
    position: relative;
    top: -20px;
  }

  .sidebar > p {
    margin: 8px;
    color: #4d71a9;
    font-weight: bold;
    cursor: pointer;
  }

  .frst {
    margin: 0;
  }
}
